/* styles.css */
.recommended-course {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    flex: 1;
    width: 88%;
    background-color: #f7f7f7;
}
.course-title {
    color: #0066cc;
    font-size: 1.2em;
}
.course-info {
    margin-top: 8px;
}
